.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #EFE1D1;
    color: #331D2C; 
}


.navbar-brand {
    text-decoration: none;
    color: #331D2C;
    font-size: 24px;
    font-weight: bold;
    font-family: 'Helvetica Neue LT Std';
}


.navbar-categories {
    display: flex;
}

.navbar-category {
    text-decoration: none;
    color: #331D2C;
    margin-right: 20px; 
}


.cart-widget {
    color: #331D2C;
    font-size: 20px;
}
